.imgTransportes {
    width: 50%;
    height: 50%;
    margin-top: 1rem;
    align-items: center;

}

.tarjeta {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    padding: 1rem;
    border: 1px solid rgb(49, 47, 93);
    border-radius: 5px;

}

.tarjetaTexto{
    text-align: center;
}

.colorBoton {
    color: #fafafa;
    background-color: #5e6f9f;
}

.colorBoton:hover {
    
    background-color: #475377;
    color: #fafafa;
}

.tarjetaCantidad{
    display: flex;
    align-items: center;
    text-align: center;
}


